.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;
    /*transition: cubic-bezier(1, 0, 0, 1);*/
    transition: all 1s ease-out;

}

.ModalOpen {
    /*
    opacity: 1;
    transform: translateY(0);
    */
    animation: openModal 0.5s ease-out forwards;
}

.ModalOpen:hover {
    animation: shakeModal 0.5s ease-in;
}

.ModalClosed {
    /*
    opacity: 0;
    transform: translate(-100vh, -100vh);
    */
    /*transform: translateY(-100vh);*/
    animation: closeModal 0.5s ease-out forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translate(-100vh, -100vh);
    }
    50% {
        opacity: 1;
        transform: translate(40vh, 40vh);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.8;
        transform: translateY(40vh);
    }
    100% {
        opacity: 0;
        transform: translateY(-100vh);
    }
}


@keyframes shakeModal {
    0% {
        opacity: 0.1;
        transform: rotate(5deg);
    }
    25% {
        opacity: 0.25;
        transform: rotate(10deg);
    }
    50% {
        opacity: 0.5;
        transform: rotate(15deg);
    }
    75% {
        opacity: 0.8;
        transform: rotate(8deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}